.cGerenciaHeader,
.cGerenciaCard {
  display: grid;
  grid-template-columns: 60px 2.5fr 1.3fr 1fr 1.1fr 0.9fr 1.1fr 100px;
  align-items: center;
  font-size: 0.9rem;
  color: #313131;
  padding: 10px 20px;
  column-gap: 8px;
  background-color: #FFFFFF; /* BACKGROUND BRANCO */
  border-radius: 10px; /* BORDER RADIUS */
}

.cGerenciaHeader {
  font-weight: 600;
  margin-bottom: 10px; /* 10px ENTRE HEADER E CORPO */
}

.cGerenciaList {
  display: flex;
  flex-direction: column;
  gap: 5px; /* 5px ENTRE CADA ITEM */
}

.cGerenciaCard {
  font-weight: 300;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cGerenciaCard span:nth-child(8) {
  border: 1px solid #26BAB3;
  color: #26BAB3;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  text-align: center;
  justify-self: start;
  white-space: nowrap;
  width: 80px;
}

.cGerenciaHeader span,
.cGerenciaCard span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}