.cardListHeader,
.campaignListCard {
  display: grid;
  grid-template-columns: 60px 1fr 100px 30px; /* CORRIGIDO: 4 colunas como no anexo */
  align-items: center;
  font-size: 60%;
  background-color: #FFFF;
  color: #313131;
  border-radius: 10px;
  padding: 12px 20px;
}

.cardListHeader {
  background-color: #FFFF;
  font-weight: 600;
  margin-bottom: 10px;
}

.campaignListCard {
  gap: 5px;
  font-weight: 300;
  margin-bottom: 5px;
}


.campaignListCard span:nth-child(3) {
  border: 1px solid #BA4D26;
  color: #BA4D26;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  white-space: nowrap;
  justify-self: start;
  align-self: center;
}

.campaignListCard.sim span:nth-child(3) {
  border: 1px solid #26BAB3;
  color: #26BAB3;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  white-space: nowrap;
  justify-self: start;
  align-self: center;
}