.cardListHeader,
.campaignListCard {
  display: grid;
  grid-template-columns: 60px 1.8fr 1.2fr 1fr 100px;
  align-items: center;
  font-size: 60%;
  background-color: #FFFF;
  color: #313131;
  border-radius: 10px;
  padding: 12px 20px;
}

.cardListHeader {
  font-weight: 600;
  margin-bottom: 10px;
}

.campaignListCard {
  gap: 5px;
  font-weight: 300;
  margin-bottom: 5px;
}

.campaignListCard span:nth-child(5) {
  border: 1px solid #26BAB3;
  color: #26BAB3;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  white-space: nowrap;
  justify-self: start;
  align-self: center;
}